<div>Choose country</div>
<form id="countryForm">
  <button type="submit" name="countryForm" value="russia">Russia</button>
</form>

<div id="leagueContainer">

</div>

<div id="teamsContainer">

</div>
